<li>
  <span>
    {{wine_name}}
  </span>
  <span>
    {{wine_id}}
  </span>
  <button class="details" data-id="{{id}}">
    See Details
  </button>
  {{!-- delete button --}}
  <button class="delete-history" data-id="{{id}}">Delete</button>
</li>
