<div class="container-fluid winelogbody">
    <header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>BUCKETLIST</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <ul>
          <li> <span>Opus One</span> 
          <button>Add to History</button>
          <button>Delete</button>
          </li>
        </ul>
    </div>
      <script src="./js/bucketlist.js"></script>
</div>
