    <!-- init page -START -->
    <div>
      <img src="" alt="logo" />
      <h1>Join WineLog</h1>
      <p>
        Rank a wine, <br />
        keep your wine history, <br />
        discover new wines, <br />
        and then to your bucket list.
      </p>
      <a href="/signup" class="screenswitch">Sign Up</a>
      <div>
        <p>Already have an account?</p>
        <a href="/login"> Login</a>
      </div>
    </div>
    <!-- init page -END -->