<div class="container-fluid" id="loginbody">
  <!-- init page -START -->
  <div id="alert" class="alert alert-danger" role="alert"></div>
  <div class="row justify-content-center">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-10 firstpglogo">
          <img class="img-fluid" src="./images/winelog_logo2_a.png" alt="Winelog Logo" />
        </div>
        <div class="col-md-10">
          <h1 class="wlcm">Join Us</h1>
          <p>
            Rank a wine,<br />
            keep your wine history,<br />
            never forget your favorites,<br />
            keep new discoveries in your bucket list.
          </p>
          <p>
            <a href="/signup" class="screenswitch button btn btn-secondary" id="signupbutton">Sign Up</a>
          </p>
          <p>Already have an account?<br>
            <a href="/login"> Login</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4"></div>
  </div>
  <!-- init page -END -->
</div>




