    <!-- init page -START -->
    <div class="col-lg-4"></div>

    <div class="col-lg-4" id="loginbody">
      <div class="row">
        <img src="" alt="logo" />
        <h1>Join WineLog</h1>
        <p>
          Rank a wine, <br />
          keep your wine history, <br />
          discover new wines, <br />
          and then to your bucket list.
        </p>
        <p><a href="/signup" class="screenswitch">Sign Up</a></p>
      </div>
      <div class="row">
        <p>Already have an account?
        <br><a href="/login"> Login</a></p>
      </div>
    </div>

    <div class=col-lg-4></div>
    <!-- init page -END -->
    