    <!-- login page -START -->
    <div data-screen="login">
      <h1>Wine Log</h1>
      <img src="images/logo.png" alt="logo" />
      <form class="login">
        <label for="email-input">Your Email</label>
        <input id="email-input" type="text" placeholder="Email" />
        <label for="password-input">Your Password</label>
        <input id="password-input" type="password" placeholder="Password" />
        <button type="submit">Log In</button>
      </form>
      <p>Or sign up if you need an account</p>
      <button class="screenswitch">Sign Up</button>
    </div>
    <!-- login page -END -->
