<div id="loginbody">
  <div class="row justify-content-center">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <!-- signup page -START -->
      <div data-screen="signup">
        <div class="row">
          <div class="col-md-10 firstpglogo">
            <img class="img-fluid" src="./images/winelog_logo2_a.png" alt="Winelog Logo" />
          </div>
        </div>
        <form class="signup row mb-5">
            <label for="name-input">Your Name</label>
            <input class="form-control-sm" id="name-input" type="text" placeholder="Name"/>
            <label for="email-input">Your Email</label>
            <input class="form-control-sm" id="email-input" type="text" placeholder="Email" />
            <label for="password-input">Your Password</label>
            <input class="form-control-sm" id="password-input" type="password" placeholder="Password" />
            <label for="confirm-password">Confirm Password</label>
            <input class="form-control-sm" id="confirm-password" type="password" placeholder="Password" />
            <button class="signup btn-secondary" type="submit" id="signupsubmit">Sign Up</button>
          </form>
          <p>if you already have an account<br>
          <a href="/login" class="screenswitch">Log In</a></p>
      </div>
      <!-- signup page -END -->
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
