<div class="container-fluid loginbody">
  <div id="alert" class="alert alert-danger" role="alert"></div>
  <div class="row justify-content-center">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-10 firstpglogo">
          <img class="img-fluid" src="./images/winelog_logo2_a.png" alt="Winelog Logo" />
        </div>
        <div class="col-md-10">
          <form class="signup">
            <div class="mb-3">
              <label for="name-input" class="form-label">Your Name</label>
              <input class="form-control" id="name-input" type="text" placeholder="Name" />
            </div>
            <div class="mb-3">
              <label for="email-input" class="form-label">Your Email</label>
              <input class="form-control" id="email-input" type="text" placeholder="Email" />
            </div>
            <div class="mb-3">
              <label for="password-input" class="form-label">Your Password</label>
              <input class="form-control" id="password-input" type="password" placeholder="Password" />
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label">Confirm Password</label>
              <input class="form-control" id="confirm-password" type="password" placeholder="Password" />
            </div>
            <button class="signup btn-secondary" type="submit" id="signupsubmit">Sign Up</button>
          </form>
          <p>Already have an account?<br>
            <a href="/login"> Login</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
  </div>
</div>