<div class="container mainbody">
    <div class="row justify-content-center">
        <div class="col-md-1"></div>

        <div class="col-md-8">
            <div class="row justify-content-center">
                <img class="img-fluid center welcomeimg" src="./images/winelog_logo.png" alt="Winelog Logo" />
            </div>

            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <a href="/wineentry"><img class="btn-responsive" src="./images/menu_logyourwine.png" alt="Log Your Wine"></a>
                </div>
                <div class="col-5 text-center">
                    <a href="/winehistory"><img class="btn-responsive" src="./images/menu_winehistory.png" alt="Your Wine History"></a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <a href="/favorites"><img class="btn-responsive" src="./images/menu_favorites.png" alt="Your Favorites"></a>
                </div>
                <div class="col-5 text-center">
                    <a href="/bucketlist"><img class="btn-responsive" src="./images/menu_bucketlist.png" alt="Your Bucket List"></a>

                </div>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
{{> footer/footer-block}}