<div class="col-lg-2"></div>

<div class="col-lg-8">
    <div class="row">WELCOME</div>
    <div class="row">
        <div class="col-6"><button type="button" class="btn btn-light">LOG Your Wine</button></div>
        <div class="col-6"><button type="button" class="btn btn-light">Your Wine History</button></div>
    </div>
    <div class="row">
        <div class="col-6"><button type="button" class="btn btn-light">Your Favorites</button></div>
        <div class="col-6"><button type="button" class="btn btn-light">Bucket List</button></div>
    </div>
</div>

<div class="col-lg-2"></div>