<div class="container-fluid wlcmbody">
<header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>WELCOME</h1>
        </div>
</header>

<div class="row justify-content-center">
    
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light" href="/wineentry">LOG Your Wine</button>
    </div>
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light" href="/favorites">Your Favorites</button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light" href="/history">Your Wine History</button>
    </div>
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light" href="/wishlist">Bucket List</button>
    </div>
</div>
</div>