<div class="container-fluid wlcmbody">
<header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>WELCOME</h1>
        </div>
</header>

<div class="row justify-content-center">
    
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light"><a href="/winestart">LOG Your Wine</a></button>
    </div>
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light"><a href="/favorites">Your Favorites</a></button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light"><a href="/history">Your Wine History</a></button>
    </div>
    <div class="col-5 text-center">
        <button type="button" class="btn-responsive btn-light"><a href="/wishlist">Bucket List</a></button>
    </div>
</div>
</div>