<div class="container-fluid winelogbody">
    <header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>WINE HISTORY</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <ul>
            {{#each wines}}
            {{/each}}
        </ul>
    </div>
    <script src="./js/history.js"></script>
</div>
