<div class="container-fluid winelogbody winerate">
    <header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>RATE YOUR WINE</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <div class="col-10">
            <form class="winerate">
                <div class="star-input m5">
                    <label>Overall Rating</label>
                    <span class="allrating">
                        <span><input type="radio" name="allrating" id="str5" value="5"><label for="str5"></label></span>
                        <span><input type="radio" name="allrating" id="str4" value="4"><label for="str4"></label></span>
                        <span><input type="radio" name="allrating" id="str3" value="3"><label for="str3"></label></span>
                        <span><input type="radio" name="allrating" id="str2" value="2"><label for="str2"></label></span>
                        <span><input type="radio" name="allrating" id="str1" value="1"><label for="str1"></label></span>
                    </span>
                </div>
                <div class="favorite-input m5">
                    <label>Add to Your Favorites</label>
                    <span class="favorite-rating">
                        <input type="checkbox" name="addfavorite" id="favorite" value="true"><label for="favorite"></label>
                    </span>
                </div>
                <div class="m5">
                    <h4>My Taste Notes</h4>
                    <h5>Aroma</h5>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="fruit">fruit</label>
                        <input class="form-check-input" type="checkbox" id="fruit" value="1">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="herbal">herbal</label>
                        <input class="form-check-input" type="checkbox" id="herbal" value="1">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="earth">earth</label>
                        <input class="form-check-input" type="checkbox" id="earth" value="1">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="earth">floral</label>
                        <input class="form-check-input" type="checkbox" id="floral" value="1">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="spice">spice</label>
                        <input class="form-check-input" type="checkbox" id="spice" value="1">
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="chemical">chemical</label>
                        <input class="form-check-input" type="checkbox" id="chemical" value="1">
                    </div>
                </div>
                <div class="sweetness-input m5">
                    <label class="tastelabel">Sweetness</label>
                    <label class="tastescale">dry</label>
                    <span class="sweetness">
                        <span><input type="radio" name="sweetness" id="swt5" value="5"><label for="swt5"></label></span>
                        <span><input type="radio" name="sweetness" id="swt4" value="4"><label for="swt4"></label></span>
                        <span><input type="radio" name="sweetness" id="swt3" value="3"><label for="swt3"></label></span>
                        <span><input type="radio" name="sweetness" id="swt2" value="2"><label for="swt2"></label></span>
                        <span><input type="radio" name="sweetness" id="swt1" value="1"><label for="swt1"></label></span>
                    </span>
                    <label class="tasteScale">sweet</label>
                </div>
                <div class="acidity-input m5">
                    <label class="tastelabel">Acidity</label>
                    <label class="tasteScale">low</label>
                    <span class="acidity">
                        <span><input type="radio" name="acidity" id="acdt5" value="5"><label for="acdt5"></label></span>
                        <span><input type="radio" name="acidity" id="acdt4" value="4"><label for="acdt4"></label></span>
                        <span><input type="radio" name="acidity" id="acdt3" value="3"><label for="acdt3"></label></span>
                        <span><input type="radio" name="acidity" id="acdt2" value="2"><label for="acdt2"></label></span>
                        <span><input type="radio" name="acidity" id="acdt1" value="1"><label for="acdt1"></label></span>
                    </span>
                    <label class="tasteScale">high</label>
                </div>
                <div class="tannins-input m5">
                    <label class="tastelabel">Tannins</label>
                    <label class="tasteScale">soft</label>
                    <span class="tannins">
                        <span><input type="radio" name="tannins" id="tnn5" value="5"><label for="tnn5"></label></span>
                        <span><input type="radio" name="tannins" id="tnn4" value="4"><label for="tnn4"></label></span>
                        <span><input type="radio" name="tannins" id="tnn3" value="3"><label for="tnn3"></label></span>
                        <span><input type="radio" name="tannins" id="tnn2" value="2"><label for="tnn2"></label></span>
                        <span><input type="radio" name="tannins" id="tnn1" value="1"><label for="tnn1"></label></span>
                    </span>
                    <label class="tasteScale">heavy</label>
                </div>
                <div class="wbody-input m5">
                    <label class="tastelabel">Body</label>
                    <label class="tasteScale">light</label>
                    <span class="wbody">
                        <span><input type="radio" name="wbody" id="bdy5" value="5"><label for="bdy5"></label></span>
                        <span><input type="radio" name="wbody" id="bdy4" value="4"><label for="bdy5"></label></span>
                        <span><input type="radio" name="wbody" id="bdy3" value="3"><label for="bdy5"></label></span>
                        <span><input type="radio" name="wbody" id="bdy2" value="2"><label for="bdy5"></label></span>
                        <span><input type="radio" name="wbody" id="bdy1" value="1"><label for="bdy5"></label></span>
                    </span>
                    <label class="tasteScale">full</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>