{{> navbar/navbar-block}}
<div class="container-fluid mainbodynav winelogbody">
    <h1 class="h1 text-center" id="wineName"></h1>
    <h1 style="display: none;" id="wineId">{{wineId}}</h1>
    <div class="row" id="wineDetail">
        <h5 class="h5" id="category"></h5>
        <h5 class="h5" id="year"></h5>
        <h5 class="h5" id="country"></h5>
        <h5 class="h5" id="region"></h5>
        <div class="favorite-input m5">
            <label for="addFavorite" class="h5">Add to Your Favorites</label>
            <span class="favorite-rating">
                <input type="checkbox" name="addfavorite" id="favoriteCheckbox" value="true">
            </span>
        </div>
    </div>
    <br>
    <hr>
    <div class="row" id="reviewDetail">
    </div>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src=" ./js/wineSummary.js"></script>