{{> navbar/navbar-block}}
<div class="container-fluid mainbodynav">
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 middleone">
            <div class="row">
                {{#if favorite}}
                <h1 class="pagetitle">FAVORITES</h1>
                {{else}}
                <h1 class="pagetitle">WINE HISTORY</h1>
                    {{/if}}
            </div>
            <div class="row">
                <ul class= "my-6">
                    {{#each wines}}
                    {{> winehistory/winehistory-block}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{> footer/footer-block}}
<script src="./js/history.js"></script>