<div class="container-fluid winelogbody">
    <header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>Wine History</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <ul>
        {{#each wines}}
        {{> winehistory/winehistory-block}}
        {{/each}}
        </ul>
    </div>
      <script src="./js/winehistory.js"></script>
</div>
