<div class="container-fluid wlcmbody">
    <header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>LOG YOUR WINE</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <div class="col-10 text-center">
            <form>
                <div class="mb-3">
                    <label for="WineSearch" class="form-label">Wine Name</label>
                    <input type="email" class="form-control" id="WineSearch" aria-describedby="wineSearchHelp">
                    <div id="wineSearchHelp" class="form-text">write 5 letters of your wine</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center wlcm">
        <div class="col-10">
            <button type="button" class="btn btn-outline-primary">
                <a href="/wineentry">I don’t see my wine listed. Add it.</a>
            </button>
        </div>
    </div>
</div>

