<div class="container-fluid winelogbody">
    <header class="row justify-content-center wlcm">
        <div class="col-10">
            <h1>LOG YOUR WINE</h1>
        </div>
    </header>
    <div class="row justify-content-center">
        <form class="wineentry">
            <label for="wine_name"class="form-label">Wine Name</label>
            <input type="text"  name="wine_name" class="form-control" id="wine_name" placeholder="Enter the name of the wine">
            <label for="category" class="form-label">Category</label>
            <input type="text" name="category" class="form-control" id="category" placeholder="Red, White, Sparkling, Rose, Dessert, Fortified">
            <label for="year" class="form-label">Year</label>
            <input type="number" name="year" class="form-control" id="year" placeholder="1998">
            <label for="country" class="form-label">County</label>
            <input type="text" name="country" class="form-control" id="country" placeholder="https://github.com/mojoaxel/bootstrap-select-country">
            <label for="region" class="form-label">Region</label>
            <input type="text" name="region" class="form-control" id="region" placeholder="Bordeaux">
            <div class="text-center mt">
                <button id="winehistory" type="submit" class="btn btn-outline-primary">Add to History</button>
                <button id="bucketlist" type="submit" class="btn btn-outline-primary">Add to Bucket List</button>
            </div>
        </form>
    </div>
</div>