<li>
  <span>
    {{wine_name}}
  </span>
  <span>
    {{wine_id}}
  </span>
  <button class="move-bucket" data-id="{{id}}">
    Add to History
  </button>
  {{!-- delete button --}}
  <button class="delete-bucket" data-id="{{id}}">Delete</button>
</li>
