#loginbody {
    color: #6E1C1C;
}

.wlcm {
    padding-top: 25px;
    color: #6E1C1C;
    text-align: center;
    font-weight: bolder;
}

.btn-responsive {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .btn-responsive {
        width: 280px;
        height: 280px;
        margin: 35px, 0px, 35px, 0px;
    }
}
#alert {
    display: none;
}
