<footer class="footer container-fluid mt-auto py-3" style="background-color: #441215;">
    <div class="container">
        <button class="btn btn-outline-warning btn-sm" id="logout">Log Out</button>
    </div>
</footer>