<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="./images/winelog_logo2_c.png" alt="" width="30" height="35">
        </a>
    </div>
</nav>