<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #441215;">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="./images/winelog_logo_wt.png" alt="" width="64" height="35">
        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/wineentry">Log Your Wine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/winehistory">Your Wine History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorites">Your Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bucketlist">Your Bucket List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>